html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: 'PT Sans Narrow', sans-serif;
}

header{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.nav-header{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo{
    display: flex;
    justify-content: center;
}

.header-logo img{
    width: 100px;
}

ul{
    width: 40%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: start;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.header-login{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.header-login a{
    margin-left: 15px;
}

.header-login a:focus{
    outline: none;
}

button:focus{
    outline: none;
}

.header-login form input{
    background: #f2f2f2;
    border: none;
    padding: 3px;
    border-radius: 10px;
    width: 15vw;
    height: 5vh;
    margin: 0 5px;
}

.header-login form input:focus{
    outline: none;
    width: 16vw;
    height: 6vh;
}

button{
    border: none;
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.main-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    text-align: center;
}

.form-signup{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-signup input{
    outline: none;
    background: #f2f2f2;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 15vw;
    height: 5vh;
    margin-bottom: 15px;
}

.form-signup input:focus{
    width: 16vw;
    height: 6vh;
}

.form-signup button {
    margin-bottom: 15px;
    outline: none;
}

.form-signup button:hover {
    background: #f2f2f2;
    color: #000;
    border: 2px solid #000;
}

.signuperror{
    color: red;
}

.signupsuccess{
    color: green;
}

.form2{
    margin-right: 35px;
}

.btn-signup{
    margin-right: 30px;
}